footer {
  background-color: rgb(46, 22, 7);
  padding-top: 10px;
  padding-bottom: 10px;
}

footer h3 {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  color: #fff
}
