.education {
  background-color: #C68642;
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}

.education h2{
  font-size: 48px;
  color: #fff;
  padding-bottom: 48px;
  margin-top: 0;
}

.education > .row {
  display: flex;
  justify-content: space-around;
}

.education > .row span {
  background-color: #fff;
  width: 112px;
  height: 112px;
  display: inline-block;
  border-radius: 50%;
  color: #C68642;
  font-size: 40px;
  line-height: 120px;
}

.education > .row > .sd ion-icon {
  color: #BA0000;
}

.education > .row > .smp ion-icon {
  color: #221177;
}

.education > .row > .sma ion-icon {
  color: #828282;
}

.education > .row > .kuliah ion-icon {
  color: #7300AB;
}

.education > .row h4 {
  margin-bottom: 8px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
  font-size: 24px;
  color: #fff;
}

.education > .row p {
  font-size: 16px;
  color: #fff;
}

.education > .row p ion-icon {
  color: red;
}

.education > .row span ion-icon {
  contain: none;
}
