body {
  background-color: #f0f0f0;
}

#gallery {
  margin-top: 6em;
}

.image-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.modal {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  z-index: 1;
  width: max-content;
  height: auto;
  outline: none;
}

.modal img {
  padding: 2em;
}

.gallery-nav {
  cursor: pointer;

  margin-top: auto;
  margin-bottom: auto;
  width: 30px;
  padding-left: 20px;
  padding-right: 5px;
  font-size: 3em;
  font-family: 'Verdana';
}

.viewport img {
  padding: 1em;
  margin: 10px;
  border-radius: 10%;
}

.headline {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-family: 'Verdana';
}

.gallery-nav.disabled {
  cursor: unset;
  color: #8f8f8f;
}

.image-container {
  background-color: #f0f0f0;
}
